@security-ops-vapp:registry=https://nexus.devo.internal/repository/npm-group/
registry:https://registry.npmjs.org=true
strict-ssl=false
always-auth=true
//registry=https://nexus.devo.internal/repository/npm-group/
//nexus.devo.internal/repository/npm-group/:_authToken=NpmToken.e4e9993f-2a46-353e-bcc6-6542e9984af4
